<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-family: 'Roboto Bold'; text-align: center">Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="LogOut()">
        SALIR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <div style="display: flex; flex-direction:column; height:100%">
    <ion-button shape="round" expand="full" class="botones" style="--background:rgb(120, 133, 245)" (click)='cosasLindasClick()' >
    
          <div>COSAS LINDAS</div>
      </ion-button>
    <ion-button shape="round" expand="full" class="botones" style="--background:rgb(29, 45, 189)" (click)="cosasFeasClick()">
  Cosas Feas
    </ion-button>
  </div>

  
</ion-content>